.card {
  position: relative;
  aspect-ratio: 1.33;
  overflow: hidden;
  transition: all 500ms ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.selected,
.selected.card:hover {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 4rem #874d5e,
    0 0 2rem #874d5e, 0 0 2.8rem #874d5e, inset 0 0 1.3rem #874d5e;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  opacity: 0;
  display: flex;
  padding: 0.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: -1rem;
  transition: all 500ms ease;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

.card:hover .info {
  opacity: 1;
  bottom: 0;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 100%;
  font-weight: bold;
}

.durationAndYear {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.65rem;
  padding: 0.1rem;
}
