.card {
    position: relative;
    aspect-ratio: 1.33;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
}

.info {
    opacity: 0;
    display: flex;
    padding: 0.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: -1rem;
    transition: all 500ms ease;
}

.card:hover .info {
    opacity: 1;
    bottom: 0;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 100%;
    font-weight: bold;
}

.title:hover {
    overflow: visible;
}