.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 6rem;
}

.movieDiv {
    aspect-ratio: 0.75;
}

.movieImg {
    width: 100%;
    height: 100%;
}

.comparisonInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}